CREATE TABLE `dialog` (
    `id` INT(10) UNSIGNED AUTO_INCREMENT PRIMARY KEY NOT NULL,
    `hash_entry` INT(10) UNSIGNED NOT NULL,
    `hash_id` INT(10) UNSIGNED NOT NULL,
    `callid` VARCHAR(255) NOT NULL,
    `from_uri` VARCHAR(255) NOT NULL,
    `from_tag` VARCHAR(128) NOT NULL,
    `to_uri` VARCHAR(255) NOT NULL,
    `to_tag` VARCHAR(128) NOT NULL,
    `caller_cseq` VARCHAR(20) NOT NULL,
    `callee_cseq` VARCHAR(20) NOT NULL,
    `caller_route_set` VARCHAR(512),
    `callee_route_set` VARCHAR(512),
    `caller_contact` VARCHAR(255) NOT NULL,
    `callee_contact` VARCHAR(255) NOT NULL,
    `caller_sock` VARCHAR(64) NOT NULL,
    `callee_sock` VARCHAR(64) NOT NULL,
    `state` INT(10) UNSIGNED NOT NULL,
    `start_time` INT(10) UNSIGNED NOT NULL,
    `timeout` INT(10) UNSIGNED DEFAULT 0 NOT NULL,
    `sflags` INT(10) UNSIGNED DEFAULT 0 NOT NULL,
    `iflags` INT(10) UNSIGNED DEFAULT 0 NOT NULL,
    `toroute_name` VARCHAR(32),
    `req_uri` VARCHAR(255) NOT NULL,
    `xdata` VARCHAR(512)
);

CREATE INDEX hash_idx ON dialog (`hash_entry`, `hash_id`);

INSERT INTO version (table_name, table_version) values ('dialog','7');

CREATE TABLE `dialog_vars` (
    `id` INT(10) UNSIGNED AUTO_INCREMENT PRIMARY KEY NOT NULL,
    `hash_entry` INT(10) UNSIGNED NOT NULL,
    `hash_id` INT(10) UNSIGNED NOT NULL,
    `dialog_key` VARCHAR(128) NOT NULL,
    `dialog_value` VARCHAR(512) NOT NULL
);

CREATE INDEX hash_idx ON dialog_vars (`hash_entry`, `hash_id`);

INSERT INTO version (table_name, table_version) values ('dialog_vars','1');

CREATE TABLE `location` (
    `id` INT(10) UNSIGNED AUTO_INCREMENT PRIMARY KEY NOT NULL,
    `ruid` VARCHAR(64) DEFAULT '' NOT NULL,
    `username` VARCHAR(64) DEFAULT '' NOT NULL,
    `domain` VARCHAR(64) DEFAULT NULL,
    `contact` VARCHAR(512) DEFAULT '' NOT NULL,
    `received` VARCHAR(128) DEFAULT NULL,
    `path` VARCHAR(512) DEFAULT NULL,
    `expires` DATETIME DEFAULT '2030-05-28 21:32:15' NOT NULL,
    `q` FLOAT(10,2) DEFAULT 1.0 NOT NULL,
    `callid` VARCHAR(255) DEFAULT 'Default-Call-ID' NOT NULL,
    `cseq` INT(11) DEFAULT 1 NOT NULL,
    `last_modified` DATETIME DEFAULT '2000-01-01 00:00:01' NOT NULL,
    `flags` INT(11) DEFAULT 0 NOT NULL,
    `cflags` INT(11) DEFAULT 0 NOT NULL,
    `user_agent` VARCHAR(255) DEFAULT '' NOT NULL,
    `socket` VARCHAR(64) DEFAULT NULL,
    `methods` INT(11) DEFAULT NULL,
    `instance` VARCHAR(255) DEFAULT NULL,
    `reg_id` INT(11) DEFAULT 0 NOT NULL,
    `server_id` INT(11) DEFAULT 0 NOT NULL,
    `connection_id` INT(11) DEFAULT 0 NOT NULL,
    `keepalive` INT(11) DEFAULT 0 NOT NULL,
    `partition` INT(11) DEFAULT 0 NOT NULL,
    CONSTRAINT ruid_idx UNIQUE (`ruid`)
);

CREATE INDEX account_contact_idx ON location (`username`, `domain`, `contact`);
CREATE INDEX expires_idx ON location (`expires`);
CREATE INDEX tcpcon_idx ON location (`connection_id`);
CREATE INDEX connection_idx ON location (`server_id`, `connection_id`);

INSERT INTO version (table_name, table_version) values ('location','9');

CREATE TABLE `location_attrs` (
    `id` INT(10) UNSIGNED AUTO_INCREMENT PRIMARY KEY NOT NULL,
    `ruid` VARCHAR(64) DEFAULT '' NOT NULL,
    `username` VARCHAR(64) DEFAULT '' NOT NULL,
    `domain` VARCHAR(64) DEFAULT NULL,
    `aname` VARCHAR(64) DEFAULT '' NOT NULL,
    `atype` INT(11) DEFAULT 0 NOT NULL,
    `avalue` VARCHAR(512) DEFAULT '' NOT NULL,
    `last_modified` DATETIME DEFAULT '2000-01-01 00:00:01' NOT NULL
);

CREATE INDEX account_record_idx ON location_attrs (`username`, `domain`, `ruid`);
CREATE INDEX last_modified_idx ON location_attrs (`last_modified`);


CREATE TABLE `acc` (
    `id` INT(10) UNSIGNED AUTO_INCREMENT PRIMARY KEY NOT NULL,
    `method` VARCHAR(16) DEFAULT '' NOT NULL,
    `from_tag` VARCHAR(128) DEFAULT '' NOT NULL,
    `to_tag` VARCHAR(128) DEFAULT '' NOT NULL,
    `callid` VARCHAR(255) DEFAULT '' NOT NULL,
    `sip_code` VARCHAR(3) DEFAULT '' NOT NULL,
    `sip_reason` VARCHAR(128) DEFAULT '' NOT NULL,
    `time` DATETIME NOT NULL
);

CREATE INDEX callid_idx ON acc (`callid`);


CREATE TABLE `acc_cdrs` (
    `id` INT(10) UNSIGNED AUTO_INCREMENT PRIMARY KEY NOT NULL,
    `start_time` DATETIME DEFAULT '2000-01-01 00:00:00' NOT NULL,
    `end_time` DATETIME DEFAULT '2000-01-01 00:00:00' NOT NULL,
    `duration` FLOAT(10,3) DEFAULT 0 NOT NULL
);

CREATE INDEX start_time_idx ON acc_cdrs (`start_time`);


CREATE TABLE `missed_calls` (
    `id` INT(10) UNSIGNED AUTO_INCREMENT PRIMARY KEY NOT NULL,
    `method` VARCHAR(16) DEFAULT '' NOT NULL,
    `from_tag` VARCHAR(128) DEFAULT '' NOT NULL,
    `to_tag` VARCHAR(128) DEFAULT '' NOT NULL,
    `callid` VARCHAR(255) DEFAULT '' NOT NULL,
    `sip_code` VARCHAR(3) DEFAULT '' NOT NULL,
    `sip_reason` VARCHAR(128) DEFAULT '' NOT NULL,
    `time` DATETIME NOT NULL
);

CREATE INDEX callid_idx ON missed_calls (`callid`);


