CREATE TABLE `dr_gateways` (
    `gwid` INT(10) UNSIGNED AUTO_INCREMENT PRIMARY KEY NOT NULL,
    `type` INT(11) UNSIGNED DEFAULT 0 NOT NULL,
    `address` VARCHAR(128) NOT NULL,
    `strip` INT(11) UNSIGNED DEFAULT 0 NOT NULL,
    `pri_prefix` VARCHAR(64) DEFAULT NULL,
    `attrs` VARCHAR(255) DEFAULT NULL,
    `description` VARCHAR(128) DEFAULT '' NOT NULL
);

INSERT INTO version (table_name, table_version) values ('dr_gateways','3');

CREATE TABLE `dr_rules` (
    `ruleid` INT(10) UNSIGNED AUTO_INCREMENT PRIMARY KEY NOT NULL,
    `groupid` VARCHAR(255) NOT NULL,
    `prefix` VARCHAR(64) NOT NULL,
    `timerec` VARCHAR(255) NOT NULL,
    `priority` INT(11) DEFAULT 0 NOT NULL,
    `routeid` VARCHAR(64) NOT NULL,
    `gwlist` VARCHAR(255) NOT NULL,
    `description` VARCHAR(128) DEFAULT '' NOT NULL
);

INSERT INTO version (table_name, table_version) values ('dr_rules','3');

CREATE TABLE `dr_gw_lists` (
    `id` INT(10) UNSIGNED AUTO_INCREMENT PRIMARY KEY NOT NULL,
    `gwlist` VARCHAR(255) NOT NULL,
    `description` VARCHAR(128) DEFAULT '' NOT NULL
);

INSERT INTO version (table_name, table_version) values ('dr_gw_lists','1');

CREATE TABLE `dr_groups` (
    `id` INT(10) UNSIGNED AUTO_INCREMENT PRIMARY KEY NOT NULL,
    `username` VARCHAR(64) NOT NULL,
    `domain` VARCHAR(128) DEFAULT '' NOT NULL,
    `groupid` INT(11) UNSIGNED DEFAULT 0 NOT NULL,
    `description` VARCHAR(128) DEFAULT '' NOT NULL
);


CREATE TABLE `uacreg` (
    `id` INT(10) UNSIGNED AUTO_INCREMENT PRIMARY KEY NOT NULL,
    `l_uuid` VARCHAR(64) DEFAULT '' NOT NULL,
    `l_username` VARCHAR(64) DEFAULT '' NOT NULL,
    `l_domain` VARCHAR(64) DEFAULT '' NOT NULL,
    `r_username` VARCHAR(64) DEFAULT '' NOT NULL,
    `r_domain` VARCHAR(64) DEFAULT '' NOT NULL,
    `realm` VARCHAR(64) DEFAULT '' NOT NULL,
    `auth_username` VARCHAR(64) DEFAULT '' NOT NULL,
    `auth_password` VARCHAR(64) DEFAULT '' NOT NULL,
    `auth_ha1` VARCHAR(128) DEFAULT '' NOT NULL,
    `auth_proxy` VARCHAR(255) DEFAULT '' NOT NULL,
    `expires` INT DEFAULT 0 NOT NULL,
    `flags` INT DEFAULT 0 NOT NULL,
    `reg_delay` INT DEFAULT 0 NOT NULL,
    `contact_addr` VARCHAR(255) DEFAULT '' NOT NULL,
    `socket` VARCHAR(128) DEFAULT '' NOT NULL,
    CONSTRAINT l_uuid_idx UNIQUE (`l_uuid`)
);


CREATE TABLE `dispatcher` (
    `id` INT(10) UNSIGNED AUTO_INCREMENT PRIMARY KEY NOT NULL,
    `setid` INT DEFAULT 0 NOT NULL,
    `destination` VARCHAR(192) DEFAULT '' NOT NULL,
    `flags` INT DEFAULT 0 NOT NULL,
    `priority` INT DEFAULT 0 NOT NULL,
    `attrs` VARCHAR(128) DEFAULT '' NOT NULL,
    `description` VARCHAR(64) DEFAULT '' NOT NULL
);


